@page "/rooms"
@using ShelterViewer.Models
@inject Services.VaultService VaultService

<h3>Rooms</h3>

<MudDataGrid Items="RoomList">
    <Columns>
        <PropertyColumn Property="x => x.type" Title="Type" />
        <PropertyColumn Property="x => x._class" Title="Class" />
        <PropertyColumn Property="x => x.dwellers.Count()" Title="Number Dwellers" />
    </Columns>
</MudDataGrid>

@code {
    List<Room> RoomList { get; set; } = new();
    protected override void OnInitialized()
    {
        RoomList = VaultService.GetRooms();
    }
}
