@page "/weapons"
@using Models

@inject Services.VaultService VaultService
@inject NavigationManager NavigationManager

<h3>Weapons</h3>

<MudDataGrid T="IItem" Items="ItemList">
    <Columns>
        <PropertyColumn Property="x => x.id" Title="Id" Grouping GroupBy="x => x.id">
            <GroupTemplate>
                <span>@context.Grouping.Key <MudChip Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small">@context.Grouping.Count()</MudChip></span>
            </GroupTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.type" Title="Type" />
        <PropertyColumn Property="x => x.hasBeenAssigned" Title="HasBeenAssigned" />
        <PropertyColumn Property="x => x.hasRandonWeaponBeenAssigned" Title="HasRandomWeaponBeenAssigned" />
        <PropertyColumn Property="x => (x is Equipedweapon) ? true : false " Title="Equipped" />
    </Columns>
</MudDataGrid>
@code {
    public List<IItem> ItemList { get; set; } = new();

    protected override void OnInitialized()
    {
        if (VaultService.IsVaultEmpty())
        {
            NavigationManager.NavigateTo("/");
        }

        ItemList = VaultService.Weapons;
    }
}
