@inject Services.VaultService VaultService


<MudNavMenu>
    <MudNavLink Href="./" Match="NavLinkMatch.Prefix">
        @if (VaultService.IsVaultEmpty())
        {
            <span>Load Vault</span>
        }
        else
        {
            <span>Shelter Info</span>
        }
    </MudNavLink>
    <MudNavLink Href="./dwellers" Match="NavLinkMatch.Prefix" Disabled="@VaultService.IsVaultEmpty()">Dwellers @if (!VaultService.IsVaultEmpty()) { <span>(@VaultService.DwellerCount)</span> }</MudNavLink>
    <MudNavLink Href="./rooms" Match="NavLinkMatch.Prefix" Disabled="@VaultService.IsVaultEmpty()">Vault Rooms @if (!VaultService.IsVaultEmpty()) { <span>(@VaultService.RoomCount)</span> }</MudNavLink>
</MudNavMenu>

@code {
    protected override void OnInitialized()
    {
        VaultService.OnVaultChanged += () => StateHasChanged();
    }

    private void OnVaultChange(object sender, EventArgs e)
    {
        StateHasChanged();
    }
}