@page "/about"

<h3>About</h3>

<MudText HtmlTag="strong" Typo="Typo.body1">
Fallout Shelter content and materials are trademarks and copyrights of Bethesda and its licensor's. All rights reserved.
This site is for viewing the data contained within the local Fallout Shelter data and is not affiliated with Bethesda.
</MudText>
<br />
<br />
<MudLink Href="https://github.com/jake1164/ShelterViewer">Click to View Source Code</MudLink>
<br /><br />

<MudLink Href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
    <MudImage Src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
</MudLink>
<br />
This work is licensed under the
<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 Unported License</a>.
    <br /><br />
    Copyright (C) 2024



    <span style="color: #00ff00;"><a rel="license"
        href=""><img alt="Creative Commons License"
          style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />This work is
      licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons
        Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.</span>
    <br /><br /><span style="color: #00ff00;">Copyright (C) 2017</span>
    <br /><br /><br /><span style="color: #00ff00;"><strong>Copyright Agent</strong></span>
    <br /><br /><span style="color: #00ff00;">If you believe that any User Content or other material on the Service
      infringes your copyright rights, please contact us with the exact URL of where the alleged infringing material is
      located. If we are notified that any User Content infringes another's intellectual property rights, we may remove
      such User Content.</span>

    <br /><br /><br /><span style="color: #00ff00;"><strong>Disclaimer of Warranties</strong></span>
    <br /><br /><span style="color: #00ff00;">Your use of the Site is at your own risk, and the Site is provided "as is"
      without warranties of any kind, either express or implied. rakion99.github.io does not warrant that the service
      will be available, uninterrupted, secure, or error-free, that defects will be corrected, or that the service or
      the servers that make the service available are free of viruses or other harmful components. rakion99.github.io
      does not accept any liability for any loss or damage arising from your use of the Site.</span>
    <br /><br /><br /><span style="color: #00ff00;"><strong>Contacting Us</strong></span>
    <br /><br /><span style="color: #00ff00;">If you have any questions about something or your dealings with the Site,
      please contact us at jake1164@hotmail.com</span>

      <center><a style="color: #00FFff; background-color: rgb(122, 122, 122);" href="https://github.com/jake1164/shelter-editor"><strong>Click to View Source
          Code</strong></a></center>
@code {

}
