@page "/"
@using ShelterViewer.Shared.Components.Vault
@using ShelterViewer.Shared.Layout

@inject VaultService VaultService
@inject IVaultFileService VaultFileService

<PageTitle>
    @if (VaultService.IsVaultEmpty())
    {
        <span>Vault</span>
    } else
    {
        <span>Vault @VaultService.VaultData?.Vault.VaultName</span>
    }
</PageTitle>
<Loading IsLoading="loading">
    @if (VaultService.IsVaultEmpty())
    {
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Align="Align.Center" Typo="Typo.h3">Advanced Fallout Shelter Viewer</MudText>
                    <MudText Typo="Typo.body1" Align="Align.Center" Color="Color.Tertiary">Large Files can take more time to load!</MudText>
                </CardHeaderContent>                
            </MudCardHeader>
            <MudCardContent>
                <MudText>For Steam Version the save is in <MudText Inline="true" Color="Color.Secondary">"C:\Users\YOURUSERNAME\AppData\Local\FalloutShelter"</MudText></MudText>
                <MudText>For PC/Launcher Version the save is in <MudText Inline="true" Color="Color.Secondary"> "Documents\My Games\Fallout Shelter"</MudText></MudText>
                <MudText>
                    For all others read the FalloutShelter
                    <MudLink Href="https://github.com/therabidsquirel/The-Fallout-Shelter-FAQ/wiki/Section-15:-Save-Files-and-Editing">FAQ</MudLink>
                </MudText>
            </MudCardContent>
            <MudCardActions>
                <MudText >Select game file (e.g. Vault1.sav)&nbsp; </MudText>
                <div style="display:block;">
                    @if (UseNativePicker)
                    {
                        <VaultNativeFilePicker Disabled="@loading"
                                               OnPickRequested="LoadVaultFromNativeAsync" />
                    }
                    else
                    {
                        <VaultBrowserFilePicker Disabled="@loading"
                                                OnFileSelected="LoadVaultFromBrowserAsync" />
                    }
                </div>
            </MudCardActions>
        </MudCard>
        <h1></h1>

    }else
    {
        <VaultInfo UnloadVault="UnloadFile" SaveVaultFile="SaveVaultFile" />
    }
</Loading>
@code {
    private bool loading = false;
    private bool UseNativePicker => VaultFileService.PickerMode == VaultFilePickerMode.NativeDialog;

    private Task LoadVaultFromNativeAsync()
    {
        return LoadVaultInternalAsync(default);
    }

    private Task LoadVaultFromBrowserAsync(ElementReference elementReference)
    {
        return LoadVaultInternalAsync(elementReference);
    }

    private async Task LoadVaultInternalAsync(ElementReference elementReference)
    {
        try
        {
            loading = true;
            var jsonString = await VaultFileService.OpenVaultAsync(elementReference);
            if (!string.IsNullOrWhiteSpace(jsonString))
            {
                VaultService.InitializeVault(jsonString);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Unable to load vault due to exception {ex.Message}", ex);
        }
        finally
        {
            loading = false;
            StateHasChanged();
        }
    }

    private void UnloadFile()
    {
        VaultService.CloseVault();
        StateHasChanged();
    }

    private async void SaveVaultFile()
    {
        var vaultString = VaultService.VaultString;
        var vaultName = VaultService.VaultData?.Vault.VaultName ?? "Vault";
        
        try
        {
            await VaultFileService.SaveVaultAsync(vaultName, vaultString);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Unable to save vault due to exception {ex.Message}", ex);
        }
    }
}
