@page "/pets"

@inject VaultService VaultService
@inject NavigationManager NavigationManager

<h3>Pets</h3>

<MudDataGrid T="IItem" Items="ItemList" Filterable="true">
    <Columns>
        <PropertyColumn Property="x => ((Pet)x).extraData!.uniqueName" title="Unique Name" />
        <PropertyColumn Property="x => ((Pet)x).extraData!.bonus" title="Bonus" />
        <PropertyColumn Property="x => ((Pet)x).extraData!.bonusValue" title="Bonus Value" />
        <PropertyColumn Property="x => (x is EquippedPet) ? true : false " Title="Equipped" />
    </Columns>
    <PagerContent>
        <MudDataGridPager T="IItem" />
    </PagerContent>
</MudDataGrid>
@code {
    public List<IItem> ItemList { get; set; } = new();

    protected override void OnInitialized()
    {
        if (VaultService.IsVaultEmpty())
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            ItemList = VaultService.Pets;
        }
    }
}
