@page "/roommap"
@using ShelterViewer.Shared.Components.Rooms

@inject VaultService VaultService
@inject NavigationManager NavigationManager
@inject IDialogService DialogService

<h3>Vault Layout</h3>

<MudTable Items="Shelter">
    
</MudTable>

@foreach(var item in Shelter)
{
    <MudStack Row="true">
        @foreach(Room room in item.Value.OrderBy(c => c.col))
        {
            <MudText>@room.row @room.col @room.Name</MudText>
        }
    </MudStack>
}

@code {
    Dictionary<int, List<Room>> Shelter { get; set; } = new();



    protected override void OnInitialized()
    {
        if (VaultService.IsVaultEmpty())
        {
            NavigationManager.NavigateTo("/");
        }

        Shelter = VaultService.Rooms
            .GroupBy(r => r.row)
            .ToDictionary(g => g.Key, g => g.ToList());
    }
}
